<form action='/tweets' method="post">
    
    <h1>Create Your Tweet:</h1>
    
    <label>Content:</label>
    <input type="text" name="content"><br>
    

    <input type="submit" id="submit" value="Create Tweet">

</form>
