<h1>Show Page</h1>

<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Tweet</button>
</form>