<form action="/signup" method="POST">

<label>Email</label>
<input type="text" name="email">

<label>Username</label>
<input type="text" name="username">

<label>Password</label>
<input type="password" name="password">

<input type="submit" value="Sign Up">

</form>